body{
  background-color: gray;
  padding-top: 100px;
  padding-left: 20px;

}
.all{
  background-color: white;
  width: 1400px;
  height: 5000px;
}
.navbar{
  width: 1240px;
  height: 68px;
  display: flex;
  padding-top: 25px;
  left: 100px;
} 
hr{
  color: whitesmoke;
}

.logo{
  margin-left: 80px;
}


.list{
  display: flex;
  justify-content: space-between;
  height: 68px;
  width: 1240px;
  margin-left: 50px;
  font-weight: 500;
  font-size: 16px;
  padding-top: 25px;
}
.signup{
  margin-left: 45px;
  margin-right: 5px;
  border: none;
  background-color: white;
  border-radius: 25px;
  width: 160px;
  padding-bottom: 40px;
}
.login{
   background-color:  rgba(200, 255, 200, 0.6);
   color: darkgreen;
   border-radius: 25px;
   border: none;
   width: 160px;
   margin-bottom: 45px;
   height: 45px;
   font-weight: 700;
   margin-bottom: 40px;
}
span{
  color: green;
}
.right-sect{
  position: absolute;
  left: 748px;
  width: 590px;
  height: 732px;
  top: 5px;
}
.textarea{
  background-color:  rgba(200, 255, 200, 0.2);
  position: absolute;
  left: 100px;
  top: 200px;
  width: 850px;
  height: 500px;
  padding-left: 50px;
}

.head1{
  width: 373px;
  height: 55px;
  top: 285px;
  left: 104px;
  font-weight: 700;
  size: 48px;
  line-height: 54.96px;
  margin-left: 30px;
}

.para1{
  width: 549px;
  height: 96px;
  top: 354px;
  left: 100px;
  font-weight: 400px;
  size: 16px;
  line-height: 32px;
  margin-left: 30px;
}

.left-sect1{
  display: flex;
  align-items: left;
  gap: 30px;
  top: 625px;
  margin-left: 30px;
}

.input1{
  width: 300px;
 height: 40px;
 border-radius: 25px;
 margin-left: 30px;
 border-width: 1px, solid, rgb(236, 234, 234);
}
.trust{
 margin-left: 30px;
}
.input2{
  width: 145px;
  height: 40px;
  position: absolute;
  z-index: 2;
  left: 325px;
  text-align: center;
  border-width: 1px, solid, rgb(236, 234, 234);
}
.input3{
  height: 45px;
  width: 65px;
  border-radius: 25px;
  position: relative;
  left: 410px;
  border: none;
  background-color: green;
  z-index: 1;
  top: -45px;
}
.search-icon{
  position: absolute;
  left: 490px;
  top: 218px;
  z-index: 2;
  color: white;
}
.map-icon{
  position: absolute;
  left: 340px;
  top: 217px;
  z-index: 2;
  color: white;
}

.recommend{
  position: absolute;
  width: 1367px;
  height: 496px;
  top: 720px;
  left: 100px;
}
.section{
  text-align: center;
  border: 5px;
  display: flex;
  gap: 10px;
}

.nav-body{
  margin-left: 150px;
  border-radius: 25px;
  border: none;
  background-color: rgba(250, 250, 250, 1);
  height: 25px;
  width: 95px;
  margin-top: 15px;
}

.QA{
  margin-left: 80px;
  padding: 0%;
  width: 135px;
  height: 27px;
  text-align: center;

}
.apply{
  background-color: rgb(255, 255, 255);
  color: limegreen;
  border-radius: 25px;
  border: none;
  margin-left: 160px;
  height: 20px;
}

.pay-sec{
position: absolute;
background-color: white;
width: 300px;
height: 300px;
border-width: 1px solid green;
box-shadow: 10px 5px 0.2px rgba(200, 255, 200, 0.1);

}
.google-sec{
background-color: white;
position: absolute;
left: 328px;
border-width: 1px solid green;
box-shadow: 10px 5px 0.2px rgba(200, 255, 200, 0.1);
width: 300px;
height: 300px;
}
.flutter-sec{
background-color:white;
position: absolute;
left: 650px;
border-width: 1px solid green;
box-shadow: 10px 5px 0.2px rgba(200, 255, 200, 0.1);
width: 300px;
height: 300px;
}
.access-sec{
background-color: white;
position: absolute;
left: 970px;
width: 300px;
height: 300px;
border-width: 1px solid green;
box-shadow: 10px 5px 0.2px rgba(200, 255, 200, 0.1);

}
.arrow{
  position: absolute;
  left: 1150px;
  display: flex;
  top: 400px;
  gap: 10px;
  
}
.heading{
  margin-left: 50px;
}
.images{
  width: 310px;
  height: 349px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 1200px;
  left: 100px;
}
.images2{
  width: 310px;
  height: 349px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 1380px;
  left: 450px;
}
.images3{
  width: 310px;
  height: 349px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 1580px;
  left: 100px;
}
.paragraph{
  position: absolute;
  left: 850px;
  top: 1200px;
  width: 480px;
}

.how{
  width: 250px;
  height: 41px;
  font-weight: 700px;
  size: 36;
  left: 41.22px;
}
.h4{
  font-weight: 500px;
  size: 24px;
  line-height: 48.20px;
}

.services{
  font-size: 16px;
  font-weight: 400px;
  line-height: 32px;
}
.h41{
  padding-right: 25px;
  display: inline-flex;
  text-align: center;
}

.categories{
  position: absolute;
  top: 2000px;
  left: 100px;
}
.gridlog{
  text-align: center;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  background-color: white;
}
.oil{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;

}

.healthcare{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;

}

.education{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.accounting{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;


}

.design{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;


}

.technology{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;

}

.security{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;

}

.data{
  width: 296px;
  height: 275px;
  text-align: center;
  align-content: center;
  background-color: white;
  position: relative;
  top: -300px;
  border-radius: 10px;
  border: 1px solid lightgray;

}
.head{
  position: relative;
  left: 400px;
}

.company{
  position: absolute;
  top: 2750px;
  text-align: left;
  left: 100px;
  background-color: rgba(200, 255, 200, 0.2);
  width: 1300px;
  height: 700px;
  
}
.tex{
  color: green;
  position: absolute;
  top: 375px;

}
.tex1{
 position: absolute;
 left: 140px;
}

.jobs{
line-height: 40px;
padding-left: 50px;
}

.uber{
  position: absolute;
  left: 600px;
  top: 50px;
}
.mobile{
  position: absolute;
  left: 900px;
  top: 50px;
}
.zapier{
  position: absolute;
  left: 750px;
  top: 160px;
}
.google{
  position: absolute;
  left: 600px;
  top: 270px;
}
.airtel{
  position: absolute;
  left: 900px;
  top: 270px;
}
.accenture{
  position: absolute;
  top: 370px;
  left: 750px;
}
.flutterwave{
  position: absolute;
  left: 600px;
  top: 470px;
}
.mckinesy{
  position: absolute;
  top: 470px;
  left: 900px;
}

.review{
  position: absolute;
  top: 3550px;
  left: 100px;
}

.footer{
  position: absolute;
  left: 100px;
  top: 4600px;
}
.footnotes{
  display: flex;
  position: relative;
  left: 450px;
  gap: 70px;
  font-size: 16px;
  bottom: 300px;
  line-height: 30px;

}
.copy{
  text-align: center;
}
.reviewer{
  position: absolute;
  left: 500px;
  top: 20px;
}
.started{
  margin-top: 70px;
}
h5{
  font-size: 26px;
}
.free{
  font-size: 24px;
  line-height: 31px;
}
.tap{
  position: relative;
  bottom: 400px;
  left: 155px;
}
.tape{
  line-height: 30px;
}
.copy{
  position: absolute;
  bottom: 160px;
  left: 330px;
}
